@import "../bower_components/bootstrap/less/bootstrap.less";
@icon-font-path: "../fonts/glyphicons/";

// Colores
@red: #E60F1F;
@green: #66B017;
@white: #ffffff;
@black: #000;


// Tipografías
@proxima: "proxima-nova",sans-serif ;
@myriad: "myriad-pro",sans-serif ;


// Elementos generales
.white {
	color:@white;
}

.bck-green {
	background-color: @green;
}

.center {
	text-align: center;
}

.inner {
	padding: 80px 0;
}

// Headings

h1 {
	font-family: @proxima;
	font-size: 60px;
	color: @white;
	font-weight: bold;
}


// Menu

.menu-item {
font-family: @proxima;
color: @white;
text-align: center;
margin: 35px;
}

.item-down {
	text-transform: uppercase;
	font-size: 16px;
}

.menu {
	background-color: @red;
}


// Estilos generales



// Secciones

.seccion-inicial {
	background-image: url("../images/uno.jpg");
	background-size: cover;
	background-position: 50% 50%;
}

// Ancho temporal de una seccion para visualizacion del diseño, no se utilizará 
// mas adelante
section {
	min-height: 750px;
}


.lateral {
    float: right;
    height: 717px;
    position: fixed;
    right: 0;
    width: 200px;
    border: 1px dotted #ccc;
    margin: 18px 18px 0 0;
    background-color: rgba(48, 36, 20, 0.4);
}


.menu-lateral {
height: 717px;
 border: 1px dotted #ccc;
 background-color: rgba(48, 36, 20, 0.4);
}

