@import "../bower_components/bootstrap/less/bootstrap.less";
@import "menuLateral.less";
@icon-font-path: "../fonts/glyphicons/";

// Colores
@red: #E60F1F;
@green: #66B017;
@white: #ffffff;
@black: #000;
@gray: #ccc;


// Tipografías
@proxima: "proxima-nova",sans-serif ;
@myriad: "myriad-pro",sans-serif ;


// Elementos generales

a {
	color:@white;
}

.white {
	color:@white;
}

.bck-green {
	background-color: @green;
	margin-right: 305px;
    padding: 5px 10px;
}

.center {
	text-align: center;
}

.inner-top {
	padding: 200px 0;
}

.inner {
	padding: 150px 0;
}


// Margins

.ml90 {
	margin-left: 90px;
	margin-top: -2px;
}

.mt60 {
	margin-top: 60px;
}

.margin-35 {
margin: 0 350px 20px 0;	
}

.mt20 {
	margin-top: 20px;
}

// Headings

h2 {
	font-family: @proxima;
	font-size: 70px;
	color: @white;
	font-weight: bold;
}

h3 {
	font-family: @myriad;
	background-color: @red;
	color: @white;
	padding: 3px 10px;
	text-align: right;
}

.titular-up{
	font-family: @myriad;
	font-weight: 200;
}


// Menu

.menu-item {
font-family: @proxima;
color: @white;
text-align: center;
margin: 35px;
}


.item-down {
	text-transform: uppercase;
	font-size: 16px;
}

.menu {
	background-color: @red;
}

.nav li a {
	padding: 0;
}

.logo-wrapper {
	padding-top: 25px;
}


// Menu lateral
.lateral {
    height: 720px;
    position: fixed;
    right: 0;
    width: 200px;
    margin: 18px 18px 0 0;
    background: url("../images/menu-lateral.png") no-repeat 50% 50%;
    
}

// Secciones

.seccion {
	background-size: cover;
	background-position: 50% 50%;
}

.inicial {
	background-image: url("../images/uno.jpg");
}

.gerente {
	background-image: url("../images/dos.jpg");
}

.logros {
	background-image: url("../images/tres.jpg");
}

// Ancho temporal de una seccion para visualizacion del diseño, no se utilizará 
// mas adelante
section {
	min-height: 750px;
}


// Estilos generales
.texto-wrapper {
	background: fade(@black, 50%);
	padding: 30px 20px;
}
.texto-home {
 	font-family: @proxima;
	font-size: 19px;
 	font-weight: 500;
}

.uppercase {
	text-transform: uppercase;
}

.texto-gerente-wrapper {
background-color: @white;
padding: 30px 20px;
}

.gerente-texto
{
color: @black;
font-family: @myriad;
}

.destacado-gerente {
	font-family: @proxima;
	color: @white;
	text-transform: uppercase;
	font-size: 25px;
}

.titular-wrapper{
	border-top: 1px solid @black;
}

.border-black{
	border-top: 1px solid @black;
}
